<html>
  <head>
    <script>console.log(1)</script>
  </head>
  <body>
    <h1 style="color: red;">$titleString</h1>
    <div style="background-color: blue;">
      <p class="contentpara first" title="this is paragraph 0">This is my first paragraph</p>
      <a href="www.google.com">
        <p>Goooogle</p>
      </a>
${for i in range(0,5)}
      <p class="contentpara" style="color: ${if i % 2 == 0}red${else}green${endif};" title="this is paragraph $i">Paragraph $i</p>
${endfor}
    </div>
  </body>
</html>
