${age-1}
This is a test.

You owe me $$$dollars.

Some maths: ${1+2+3+4}

Age: $age
Age+1: ${age+1}
Age-1: ${age-1}

That's: ${currencyCommas(dollars)}

${if age > 9 + 9}
You can vote
${else}
Not elegible to vote
${endif}
The end
